@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

header {
  border-bottom: solid 3px rgb(7, 132, 132);
  display: flex;
  padding: 40px;
}
h1 {
  margin-top: 15px;
  margin-left: 45px;
  font-family: Roboto;
  font-size: 48px;
}
.logo {
  width: 70px;
  height: 80px;
}
.button {
  background-color: #5c48d3;
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
main {
  margin-top: 300px;
  display: flex;
  justify-content: center;
}

p {
  margin-top: 23px;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 50px;
}

.utils {
  height: 50px;
  width: 100px;
  color: Black;
  font-size: 80px;
  background-color: white;
  border: none;
}
.reset {
  font-size: 20px;
  background-color: #5c48d3;
  color: white;
  border-radius: 10px;
  height: 60px;
  width: 150px;
}
